{% extends "base.html" %}
{% block title %}Hinzufuegen{% endblock %}


{% block content%}
        <div class="container">
            <br/>
            {% for wein in weine %} 
            <p>
                {{ wein.name }}
            </p>
            {% endfor %}
        </div>  
        <div class="form">
                <form action="/submit" method="POST">
                <div class="form-group">
                    <h3>Name</h3>
                    <input
                    type="text"
                    class="form-control"
                    name="name"
                    placeholder="Name des Weins"
                    />
                </div>
                <div class="form-group">
                    <h3>Laden</h3>
                    <select class="custom-select"
                            name="laden">
                    <option value="">Wähle Laden</option> <!--TODO ggf null Wert hinterlegen, statt eines leeren Strings (für spätere Abfragen)-->
                    <option value="Edeka">Edeka</option>
                    <option value="Netto">Netto</option>
                    <option value="Rewe">Rewe</option>

                    </select>
                </div>
                <h3>Art</h3>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="art" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Rot</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="art" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Weiß</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="art" id="inlineRadio3" value="option3">
                  <label class="form-check-label" for="inlineRadio3">Rosé</label>
                </div>
                <div class="form-group">
                    <h3>Sorte</h3>
                    <select class="custom-select" name="sorte">
                        <option value="">Wähle Sorte</option>
                        <option value="Burgunder">Burgunder</option>
                        <option value="Riesling">Riesling</option>
                    </select>
                </div>
                 <button type="submit" class="btn btn-primary">Hinzufuegen</button>
                <!--<input type="submit" value="Submit" class="btn" /> -->
                </form>    
        </div>

{% endblock%}