<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
        <title>Weindatenbank</title>
    </head>
    <body>
      <!--Header-->
      <header id="header">
        <div class="logo">
          <h4 id="l6">LOGO</h4>
        </div>
        <nav>
          <ul>
            <li><a id="l1" href="/">Home</a></li>
            <li><a id="l1" href="/liste">Weinliste</a></li>
            <li><a id="l4" href="/hinzufuegen">Hinzufügen</a></li>
          </ul>
        </nav>
      </header>

      <div class="container">
        <h3>Weinliste</h3>
            <br/>
            {% for wein in weine %} 
            <p>
                {{ wein.name }}
            </p>
            {% endfor %}
           
        <div class="form">
            <form action="/submit" method="POST">
              <div class="form-group">
                <h3>Name</h3>
                <input
                  type="text"
                  name="name"
                  placeholder="Name des Weins"
                />
              </div>
              <div class="form-group">
                <h3>Laden</h3>
                <select name="laden">
                  <option value="">Wähle Laden</option>
                  <option value="Rewe">Rewe</option>
                  <option value="Edeka">Edeka</option>
                </select>
              </div>
              <div class="form-group">
                <h3>Art</h3>
                <input type="radio" name="art" value="rot" /> Rot
                <input type="radio" name="art" value="weiß" checked /> Weiß
              </div>
              <div class="form-group">
                <h3>Sorte</h3>
                <select name="sorte">
                  <option value="">Wähle Sorte</option>
                  <option value="Burgunder">Burgunder</option>
                  <option value="Riesling">Riesling</option>
                </select>
              </div>
              <input type="submit" value="Submit" class="btn" />
            </form>
          </div>     
      </div>
    </body>
</html>